.header {
    background-color: #aa3e3e;
    box-shadow: 10px 5px 10px rgb(168, 167, 167);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px;
  }

  .header.active{
    background-color:  rgb(206, 190, 190);
    /* color: white; */
  }
  
  
  .header-logo {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-right: auto;
    font-size: 2rem;
    padding: 2rem;
  }
  .header-logo:hover{
    text-decoration: none;
    color: white;
  }
  
  .header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .head {
    margin-left: auto;
  }
  
  .header-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 2rem;
    font-size: small;
  }
  .header-link:hover{
    text-decoration: none;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .header-logo {
      font-size: 16px;
      padding: 4px;
    }
    .header-link{
        font-size: 12px;
        font-weight: 50px;
        padding: 6px;
    }
  }
  