.services {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 10px lightgray;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    z-index: 1;
  }
  
  .service-info {
    height: 100px;
    margin-bottom: 10px;
    margin-top: 1rem;
  }
  
  .services > img {
    max-height: 220px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: -4rem;
  }
  